<div
  id="extension-turnip-extension-content-history-section-01-heading-{{deviceId}}"
  class="card bg-dark border-light mb-2"
>
  
  <div class="card-header">
    <h4 class="mb-0">
      {{deviceLabel}}
    </h4>
  </div>

  <div
    id="extension-turnip-extension-content-history-section-01-collapse-{{deviceId}}"
    class="collapse show"
    aria-labelledby="extension-turnip-extension-content-history-section-01-heading-{{deviceId}}"
    data-parent="#extension-turnip-extension-content-history-section-01-accordion"
  >
    <div class="card-body">
      <!-- Property List -->
      {{properties}}
    </div>
  </div>

</div>