:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --extension-container-space-top: calc(7.6rem + 10px);
  --extension-container-space-bottom: 10px;
}

#main-menu #extension-turnip-extension-menu-item {
  background-image: url('../images/menu-icon.svg');
}

/* Container and Nav */
#extension-turnip-extension-view {
  height: calc(100% - var(--extension-container-space-top) - var(--extension-container-space-bottom));
  box-sizing: border-box;
  /* overflow: auto; */
  overflow: visible;
  position: absolute;
  top: var(--extension-container-space-top);
}

#turnip-container .turnip-workspace {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px 0px 5px;
  height: fit-content;
  max-height: 100%;
  overflow: auto;
}

/* #turnip-container .turnip-container-nav {
  height: fit-content;
  position: absolute;
  top: -30px;
} */

#turnip-container .turnip-nav {
  width: 100%;
  overflow: auto;
  height: fit-content;
}

#turnip-container .nav-bar {
  display: flex;
  position: fixed;
  top: calc(var(--extension-container-space-top) - 30px);
}

#turnip-container .nav .nav-link {
  background: var(--light);
  margin-left: 5px;
  color: var(--dark);
  border-radius: 5px 5px 0 0;
  width: 50px;
}

#turnip-container .nav .nav-link:hover {
  background-color: var(--warning);
  opacity: 1;
}

#turnip-container .nav .nav-link.active {
  background-color: var(--dark);
  opacity: 1;
}

#turnip-container .nav .nav-link.disabled {
  background-color: var(--gray);
  color: var(--light);
  opacity: 0.5;
}

#turnip-container .turnip-container-content {
  width: 100%;
  max-height: 100%;
  /* overflow: auto; */
  height: fit-content;
}

#turnip-container .turnip-tab-content {
  font-size: medium;
  height: fit-content;
  min-height: 150px;
}

#turnip-container .turnip-tab-content.active {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

#turnip-container .turnip-content-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

#turnip-container .turnip-slide-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#turnip-container .turnip-slide-base {
  position: relative;
  display: none;
}

#turnip-container .turnip-slide-slide.hide ~ .turnip-slide-base {
  position: relative;
  display: inline-block;
  width: 100%;
}

#turnip-container .turnip-slide-slide {
  position: relative;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
  background: var(--dark);
  z-index: 1;

  transition: left 0.5s;
}

#turnip-container .turnip-slide-slide .card-header {
  white-space: nowrap;
}

#turnip-container .turnip-slide-slide .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#turnip-container .turnip-slide-slide.hide {
  left: 110%;
  display: inline-block;
  position: absolute;

  transition: left 0.5s, position 0.5s 0.5s;
}

/* Webhook Item Customization */
#turnip-container .turnip-webhook-container {
  display: flex;
  flex-wrap: wrap;
}

#turnip-container .turnip-webhook-item {
  margin: 10px;
  height: 150px;
  width: 100%;
  border-color: var(--gray);
  transition: 0.2s;
}

#turnip-container .turnip-webhook-item:hover {
  border-color: var(--light);
  transition: 0.2s;
}

#turnip-container .turnip-webhook-item-adder {
  border: 2px;
  border-style: dashed;
  border-color: var(--dark);
}

#turnip-container .turnip-webhook-item-adder .card-body {
  background-color: var(--dark);
  color: var(--gray);
  transition: 0.2s;
}

#turnip-container .turnip-webhook-item-adder .card-body:hover {
  background-color: var(--secondary);
  color: var(--light);
  transition: 0.2s;
}

#turnip-container .turnip-card-header-btn-box {
  white-space: nowrap;
}

#turnip-container .turnip-card-header-btn-box .btn {
  width: 30px;
}

#turnip-container .turnip-webhook-item .card-body {
  text-overflow: ellipsis;
  white-space: normal;
}

#turnip-container .turnip-webhook-item .card-body p {
  font-size: 1.2rem;
}

#turnip-container .turnip-webhook-item .card-body .card-title {
  font-size: 1.5rem;
}

#turnip-container .turnip-badge-http-method-post,
#turnip-container .turnip-badge-http-method-put,
#turnip-container .turnip-badge-http-method-patch {
  color: var(--dark);
  background-color: var(--warning);
}

#turnip-container .turnip-badge-http-method-get {
  color: var(--light);
  background-color: var(--success);
}

#turnip-container .turnip-badge-http-method-delete {
  color: var(--dark);
  background-color: var(--danger);
}

#turnip-container .turnip-badge-http-method-head,
#turnip-container .turnip-badge-http-method-connect,
#turnip-container .turnip-badge-http-method-option,
#turnip-container .turnip-badge-http-method-trace {
  color: var(--dark);
  background-color: var(--light);
}

#turnip-container .turnip-webhook-item .card-text {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}

/* History Item */
#turnip-container .turnip-history-container {
  width: 100%;
  min-height: 80px;
}

#turnip-container .turnip-history-item {
  border-color: var(--secondary);
  transition: 0.2s;
  margin-bottom: 10px;
  max-width: 700px;
  min-width: 50px;
  margin-left: auto;
  margin-right: auto;
}

#turnip-container .turnip-history-item:last-child {
  margin-bottom: 0px;
}

#turnip-container .turnip-history-item:hover {
  border-color: var(--light);
  transition: 0.2s;
}

#turnip-container .turnip-history-item .card-header{
  background-color: var(--dark);
  padding: 5px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
}

#turnip-container .turnip-history-item .card-body {
  background-color: var(--secondary);
  font-size: 1.4rem;
  padding: 5px;
}

#turnip-container .turnip-history-item-element {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 3px;
  display: flex;

  border-style: solid;
  border-width: 1px;
  border-color: var(--dark);
  transition: 0.2s;
}

#turnip-container .turnip-history-item-element:hover {
  border-color: var(--light);
  transition: 0.2s;
}

#turnip-container .turnip-history-item-element:last-child {
  margin-bottom: 0px;
}

#turnip-container .turnip-history-item-element > * {
  padding: 0px 5px 0px 5px;
  border-width: 0px
}

#turnip-container .turnip-history-item-element > div {
  background-color: var(--dark);
  display: flex;
  align-items: center;
}

#turnip-container .turnip-history-item-element > div:first-child {
  min-width: 32px;
}

#turnip-container .turnip-history-item-element > button {
  display: flex;
  flex-wrap: nowrap;
  transition: 0.2s;
}

#turnip-container .turnip-history-item-element > button:hover {
  background-color: var(--warning);
  color: var(--dark);
  transition: 0.2s;
}

#turnip-container .turnip-history-item-element > *:first-child {
  border-radius: 3px 0px 0px 3px;
  min-width: 30px;
  background-color: var(--dark);
  opacity: 0.5;
}

#turnip-container .turnip-history-item-element > *:last-child {
  border-radius: 0px 3px 3px 0px;
}

#turnip-container .turnip-history-item-req {

}

#turnip-container .turnip-history-item-res {

}

/* Modal item */
#turnip-container .turnip-modal {

}

#turnip-container .turnip-modal .modal-header,
#turnip-container .turnip-modal .modal-body,
#turnip-container .turnip-modal .modal-footer {
  background-color: var(--dark);
}

#turnip-container .turnip-modal .modal-body input {
  font: 400 13.3333px Arial;
}

/* Setting item */
#turnip-container .turnip-setting-item {
  margin-bottom: 5px;

  border-color: var(--secondary);
  transition: 0.2s;
}

#turnip-container .turnip-setting-item:hover {
  border-color: var(--light);
  transition: 0.2s;
}

#turnip-container .turnip-setting-item:last-child {
  margin-bottom: 0px;
}

#turnip-container .turnip-setting-item > .card-header {
  padding: 5px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

/* Service item */
#turnip-container .turnip-service-item {
  border-color: var(--secondary);
}

#turnip-container .turnip-service-item > .card-headers {
  background-color: var(--dark);
}

#turnip-container .turnip-service-item > .card-bodys {
  background-color: var(--secondary);
}

/* E-Form Customization */
#turnip-container .turnip-form-container {
  display: flex;
  flex-direction: column;
  font-size: small;
  /* flex-wrap:wrap; */
  margin: auto;
}

#turnip-container .turnip-form-row {
  display: flex;
  /* justify-content: space-between; */
}

#turnip-container .turnip-badge-header-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 100%;
  min-width: 50px;
}

#turnip-container .turnip-badge-header-group:last-child {
  margin-bottom: 0px;
}

#turnip-container .turnip-form-row.flex-column .turnip-badge-header-group {
  margin-bottom: 0px;
  margin-right: 5px;
}

#turnip-container .turnip-badge-header-group:last-child {
  margin-bottom: 0px;
}

#turnip-container .grow-1 {
  flex-grow: 1;
}

#turnip-container .turnip-label-badge {
  width: fit-content;
  border-radius: 3px 3px 0 0;
  margin-bottom: 0;

  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#turnip-container .turnip-badge-union {
  position: relative;
  top: calc(-1px);
  border-top-left-radius: 0;
  border-radius: 0 3px 3px 3px;
  border-style: solid;
  border-width: 2px;
}

#turnip-container input.turnip-badge-union {
  height: 24px;
  background-color: var(--light);
}

#turnip-container textarea.turnip-badge-union {
  height: fit-content;
}

#turnip-container .border-dash {
  border: 1px;
  border-style: dashed;
  border-color: var(--dark);
}

/* Headers Item */
#turnip-container .header-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 5px;
  max-width: 100%;
  /* overflow: hidden; */
}

#turnip-container .header-item:last-child {
  margin-bottom: 0px;
}

#turnip-container .header-item span {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  max-width: calc(50% - 10px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#turnip-container .header-item span:first-child {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  
}

#turnip-container .header-item span:last-child {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#turnip-container .header-item span:hover {
  opacity: 0.7;
  transition: 0.2s;
}

#turnip-container .header-item-key {
  color: var(--light);
  background-color: var(--info);
}

#turnip-container .header-item-value {
  color: var(--dark);
  background-color: var(--warning);
}

#turnip-container .header-item-remove {
  color: var(--light);
  background-color: var(--danger);
}

/* Millicious Components */
#turnip-container .progress-bar-black-striped {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.75) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.75) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem;
}

/* Millicious Settings */
#turnip-container .no-resize {
  resize: none;
}

#turnip-container .hide {
  display: none;
}

#turnip-container .font-size-inherit {
  font-size: inherit;
}

/* Responsive Customization */
@media (min-width: 0px) {
  #turnip-container .turnip-webhook-item {
    min-width: 150px;
    width: calc(100% - 10px);
  }
}

@media (min-width: 576px) {
  #turnip-container .turnip-webhook-item {
    min-width: calc(100% - 20px);
  }

  #turnip-container .turnip-nav {
    max-width: 700px;
  }

  #turnip-container .turnip-container-content {
    max-width: 700px;
  }
}

@media (min-width: 768px) {
  #turnip-container .turnip-webhook-item {
    min-width: calc(50% - 20px);
    width: calc(50% - 20px);
  }

  #turnip-container .turnip-nav {
    max-width: 900px;
  }

  #turnip-container .turnip-container-content {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  #turnip-container .turnip-webhook-item {
    min-width: calc(33% - 20px);
    width: calc(33% - 20px);
  }

  #turnip-container .turnip-nav {
    max-width: 950px;
  }

  #turnip-container .turnip-container-content {
    max-width: 950px;
  }
}

