<!-- Section -->
<div class="" id="extension-turnip-extension-content-account-section">
	<div class="turnip-content-section" id="extension-turnip-extension-content-account-section-01">
		<div class="card text-dark border-warning ternip-content-section-card w-100">
			<div class="card-header bg-warning">
				<i class="fas fa-exclamation-triangle"></i>
				<b>Extension's Account</b>
			</div>
			<div class="card-body bg-dark d-flex flex-column">

				<!-- section-01-loading -->
				<div id="extension-turnip-extension-content-account-section-01-loading" class="">
					<div id="extension-turnip-extension-content-account-section-01-loading-progress" class="d-flex flex-column justify-content-center">
						<br>
						<div class="text-light">
							<center>
								Please wait, this process will take a while.
							</center>
						</div>
						<br>
						<div class="progress">
							<div class="progress-bar progress-bar-black-striped bg-warning progress-bar-animated" style="width:100%">
							</div>
						</div>
					</div>
				</div>

				<!-- section-01-create -->
				<div id="extension-turnip-extension-content-account-section-01-create" class="">
					<div id="extension-turnip-extension-content-account-section-01-create-caution">
						<div class="text-danger" id="extension-turnip-extension-content-account-section-01-create-caution-create">
							This extension require your permission to create a new account for operationing. You can change account information below. Click create button to process. 
						</div>
					</div>
					<br>

					<div class="text-light d-flex justify-content-center" id="extension-turnip-extension-content-account-section-01-create-form">
						<form class="col-md-6">

							<div class="form-group">
								<label for="extension-turnip-extension-content-account-section-01-create-form-email">
									E-mail address
								</label>
								<input type="email" class="form-control" id="extension-turnip-extension-content-account-section-01-create-form-email" placeholder="example@example.com">
							</div>

							<div class="form-group">
								<label for="extension-turnip-extension-content-account-section-01-create-form-name">
									Name
								</label>
								<input type="text" class="form-control" id="extension-turnip-extension-content-account-section-01-create-form-name" placeholder="John">
							</div>

							<div class="form-group">
								<label for="extension-turnip-extension-content-account-section-01-create-form-password">
									Password
								</label>
								<input type="text" class="form-control" id="extension-turnip-extension-content-account-section-01-create-form-password" placeholder="leave blank for auto-generate">
							</div>

						</form>
					</div>
					<br>

					<div class="d-flex justify-content-center" id="extension-turnip-extension-content-account-section-01-create-button">
						<button class="btn btn-primary" id="extension-turnip-extension-content-account-section-01-create-button-create">Create</button>
					</div>
				</div>

				<!-- section-01-remove -->
				<div id="extension-turnip-extension-content-account-section-01-remove" class="">
					<div id="extension-turnip-extension-content-account-section-01-remove-caution">
						<div class="text-danger" id="extension-turnip-extension-content-account-section-01-remove-caution-remove">
							This extension use account below for operationing, if you want to revoke or edit account, you have to remove account first. Click remove button to process. 
						</div>
						<div class="text-danger" id="extension-turnip-extension-content-account-section-01-remove-caution-wrong">
							Token below is invalid, please click 'Remove' button for re-create account again or update token manualy by replace token below then click 'Update' button!!!
						</div>
					</div>
					<br>

					<div class="text-light d-flex justify-content-center" id="extension-turnip-extension-content-account-section-01-remove-form">
						<form class="col-md-6">

							<div class="form-group">
								<label for="extension-turnip-extension-content-account-section-01-remove-form-email">
									E-mail address
								</label>
								<input type="email" class="form-control" id="extension-turnip-extension-content-account-section-01-remove-form-email" disabled="">
							</div>

							<div class="form-group">
								<label for="extension-turnip-extension-content-account-section-01-remove-form-name">
									Name
								</label>
								<input type="text" class="form-control" id="extension-turnip-extension-content-account-section-01-remove-form-name" disabled="">
							</div>

							<div class="form-group">
								<label for="extension-turnip-extension-content-account-section-01-remove-form-jwt">
									JWT Token
								</label>
								<textarea class="form-control no-resize" id="extension-turnip-extension-content-account-section-01-remove-form-jwt" rows="10"></textarea>
							</div>

						</form>
					</div>
					<br>

					<div class="d-flex justify-content-center" id="extension-turnip-extension-content-account-section-01-remove-button">
						<button class="btn btn-primary mx-2" id="extension-turnip-extension-content-account-section-01-remove-button-update">Update</button>
						<button class="btn btn-danger mx-2" id="extension-turnip-extension-content-account-section-01-remove-button-remove">Remove</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
