<!-- Section -->
<div
  id="extension-turnip-extension-content-history-section"
  class=""
>
  <!-- Section 0: Loading -->
  <div
    id="extension-turnip-extension-content-history-section-loading"
    class=""
  >
    <div class="d-flex flex-column justify-content-center">
      <br>
      <div class="text-light">
        <center>
          Please wait, this process will take a while.
        </center>
      </div>
      <br>
      <div class="progress">
        <div class="progress-bar progress-bar-black-striped bg-warning progress-bar-animated" style="width:100%">
        </div>
      </div>
    </div>
  </div>

  <!-- Section 1: Device List -->
  <div
    id="extension-turnip-extension-content-history-section-01"
    class="card bg-warning"
  >

    <!-- Card Header -->
    <div class="card-header border-secondary">
      <div class="d-flex justify-content-between text-dark">
        <div class="text-truncate">
          <i class="fas fa-chart-bar mr-2"></i>
          <b id="extension-turnip-extension-content-history-section-01-title">Devices List</b>
        </div>
      </div>
    </div>

    <!-- Card Body -->
    <div class="card-body bg-dark">

      <!-- Container -->
      <div
        id="extension-turnip-extension-content-history-section-01-container"
        class="turnip-form-container col-sm-12 col-md-10 col-lg-8"
      >
        <div id="extension-turnip-extension-content-history-section-01-accordion">
          <!-- Device -->
          <div class="card">

            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button
                  class="btn btn-link"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  Device Name
                </button>
              </h5>
            </div>
        
            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordion"
            >
              <div class="card-body">
                <!-- Property List -->
                <ul class="list-group">
                  <!-- Property -->
                  <li class="list-group-item d-flex justify-content-between align-items-center">
                    Cras justo odio
                    <span class="badge badge-primary badge-pill">view</span>
                  </li>
                </ul>

              </div>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Section 2: Property History -->
  <div
    id="extension-turnip-extension-content-history-section-02"
    class="card bg-warning"
  >

    <!-- Card Header -->
    <div class="card-header border-secondary">
      <div class="d-flex justify-content-between text-dark">
        <div class="text-truncate">
          <i class="fas fa-chart-bar mr-2"></i>
          <b id="extension-turnip-extension-content-history-section-02-title-label">Device: Property</b>
        </div>
        <div class="d-flex">
          <button
            id="extension-turnip-extension-content-history-section-02-title-download"
            class="btn btn-success border-secondary text-nowrap mr-1"
          >
            <i class="fas fa-save"></i>
            <b class="d-none d-md-inline ml-2">Download</b>
          </button>
          <button
            id="extension-turnip-extension-content-history-section-02-title-reload"
            class="btn btn-success border-secondary text-nowrap mr-1"
          >
            <i class="fas fa-sync-alt"></i>
            <b class="d-none d-md-inline ml-2">Reload</b>
          </button>
          <button
            id="extension-turnip-extension-content-history-section-02-title-back"
            class="btn btn-danger border-secondary text-nowrap mr-1"
          >
            <i class="fas fa-backspace"></i>
            <b class="d-none d-md-inline ml-2">Back</b>
          </button>
        </div>
      </div>
    </div>

    <!-- Card Body -->
    <div class="card-body bg-dark">

      <!-- Container -->
      <div
        id="extension-turnip-extension-content-history-section-02-container"
        class="turnip-form-container d-flex justify-content-center"
      >
        <div class="d-flex flex-md-row flex-column justify-content-center">
          <div class="f-flex flex-column flex-grow-1 mr-md-3">
            <!-- <div class="mb-2"> -->
              <div class="turnip-badge-header-group">
                <label class="turnip-label-badge badge-secondary">Chart</label>
                <canvas
                  id="extension-turnip-extension-content-history-section-02-body-chart"
                  class="turnip-badge-union border-secondary w-100"
                >
                </canvas>
              </div>
            <!-- </div> -->
            <!-- <div class="mb-2"> -->
              <div class="turnip-badge-header-group">
                <label class="turnip-label-badge badge-secondary">Schema</label>
                <textarea
                  id="extension-turnip-extension-content-history-section-02-body-schema"
                  class="turnip-badge-union border-secondary"
                  style="
                    min-height: 100px;
                    font-family: Consolas;
                  "
                >

                </textarea>
              </div>
            <!-- </div> -->
          </div>
          <div class="d-inline d-md-none mb-3"></div>
          <div class="d-flex flex-column" style="min-width: 250px;">
            <!-- <div class="mb-2"> -->
              <div class="turnip-badge-header-group">
                <label class="turnip-label-badge badge-secondary">Timezone</label>
                <input
                  id="extension-turnip-extension-content-history-section-02-body-timezone"
                  class="turnip-badge-union border-secondary"
                  type="text"
                >
              </div>
            <!-- </div> -->
            <!-- <div class="mb-2 d-flex flex-grow-1"> -->
              <div class="turnip-badge-header-group grow-1">
                <div class="turnip-label-badge-group">
                  <label class="turnip-label-badge badge-secondary">Value</label>
                  <label class="turnip-label-badge turnip-label-badge-button badge-warning">Text</label>
                </div>
                <div class="turnip-badge-union border-secondary flex-grow-1" style="min-height: 100px;">
                  <textarea
                    id="extension-turnip-extension-content-history-section-02-body-value"
                    class="flex-grow-1 w-100 h-100"
                    style="min-height: 100px;"
                  >

                  </textarea>
                </div>
              </div>
            <!-- </div> -->
          </div>
        </div>

      </div>

    </div>

  </div>
</div>