<div id="extension-turnip-extension-contents" style="height: 100%;">
  <div id="turnip-container" style="height: 100%;">
    <div class="container h-100">
      <div class="row h-100">
        <div class="nav flex-column nav-pills turnip-container-nav" role="tablist" aria-orientation="vertical">

          <a
            id="extension-turnip-extension-nav-webhook"
            class="nav-link"
            data-toggle="pill"
            href="#extension-turnip-extension-content-webhook"
            role="tab"
            aria-controls="extension-turnip-extension-content-webhook"
            aria-selected="false"
          >
            <center><i class="fas fa-cloud-upload-alt fa-3x"></i></center>
          </a>

          <a
            id="extension-turnip-extension-nav-history"
            class="nav-link"
            data-toggle="pill"
            href="#extension-turnip-extension-content-history"
            role="tab"
            aria-controls="extension-turnip-extension-content-history"
            aria-selected="false"
          >
            <center><i class="fas fa-chart-bar fa-3x"></i></center>
          </a>

          <a
            id="extension-turnip-extension-nav-setting"
            class="nav-link"
            data-toggle="pill"
            href="#extension-turnip-extension-content-setting"
            role="tab"
            aria-controls="extension-turnip-extension-content-setting"
            aria-selected="false"
          >
            <center><i class="fas fa-cogs fa-3x"></i></center>
          </a>

          <a
            id="extension-turnip-extension-nav-account"
            class="nav-link"
            data-toggle="pill"
            href="#extension-turnip-extension-content-account"
            role="tab"
            aria-controls="extension-turnip-extension-content-account"
            aria-selected="true"
          >
            <center><i class="fas fa-user fa-3x"></i></center>
          </a>
        </div>
        <div class="col bg-dark text-light tab-content turnip-container-content py-4">

          <div
            id="extension-turnip-extension-content-loading"
            class="tab-pane fade turnip-tab-content active show"
            role="tabpanel"
            aria-labelledby="extension-turnip-extension-nav-loading"
          >
            <div class="turnip-content-section">
              <div>
                <button class="btn btn-primary" type="button" disabled="">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  &nbsp;Loading...
                </button>
              </div>
            </div>
          </div>

          <!-- ==== Webhook Menu ==== -->
          <div
          id="extension-turnip-extension-content-webhook"
            class="tab-pane fade turnip-tab-content"
            role="tabpanel"
            aria-labelledby="extension-turnip-extension-nav-webhook"
          >
            ...
          </div>

          <!-- ==== History Menu ==== -->
          <div
            id="extension-turnip-extension-content-history"
            class="tab-pane fade turnip-tab-content"
            role="tabpanel"
            aria-labelledby="extension-turnip-extension-nav-history"
          >
            ...
          </div>

          <!-- ==== Setting Menu ==== -->
          <div
            id="extension-turnip-extension-content-setting"
            class="tab-pane fade turnip-tab-content"
            role="tabpanel"
            aria-labelledby="extension-turnip-extension-nav-setting"
          >
            ...
          </div>

          <!-- ==== Account Menu ==== -->
          <div
            id="extension-turnip-extension-content-account"
            class="tab-pane fade turnip-tab-content"
            role="tabpanel"
            aria-labelledby="extension-turnip-extension-nav-account"
          >
            ...
          </div>

        </div>
      </div>
    </div>
  </div>
</div>