<div id="extension-turnip-extension-contents" style="height: 100%;">
  <div id="turnip-container" style="height: 100%;">
    <div class="container h-100">
      <div class="row h-100">
        <div class="nav flex-column nav-pills turnip-container-nav" role="tablist" aria-orientation="vertical">

          <a class="nav-link" id="extension-turnip-extension-nav-console" data-toggle="pill" href="#extension-turnip-extension-content-console" role="tab" aria-controls="extension-turnip-extension-content-console" aria-selected="false">
            <i class="fas fa-terminal fa-3x"></i>
          </a>

          <a class="nav-link" id="extension-turnip-extension-nav-webhook" data-toggle="pill" href="#extension-turnip-extension-content-webhook" role="tab" aria-controls="extension-turnip-extension-content-webhook" aria-selected="false">
            <center><i class="fas fa-cloud-upload-alt fa-3x"></i></center>
          </a>

          <a class="nav-link" id="extension-turnip-extension-nav-setting" data-toggle="pill" href="#extension-turnip-extension-content-setting" role="tab" aria-controls="extension-turnip-extension-content-setting" aria-selected="false">
            <center><i class="fas fa-cogs fa-3x"></i></center>
          </a>

          <a class="nav-link" id="extension-turnip-extension-nav-account" data-toggle="pill" href="#extension-turnip-extension-content-account" role="tab" aria-controls="extension-turnip-extension-content-account" aria-selected="true">
            <center><i class="fas fa-user fa-3x"></i></center>
          </a>
        </div>
        <div class="col bg-dark text-light tab-content turnip-container-content py-4">

          <div class="tab-pane fade turnip-tab-content active show" id="extension-turnip-extension-content-loading" role="tabpanel" aria-labelledby="extension-turnip-extension-nav-loading">
            <div class="turnip-content-section">
              <div>
                <button class="btn btn-primary" type="button" disabled="">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  &nbsp;Loading...
                </button>
              </div>
            </div>
          </div>

          <!-- ==== Console Menu ==== -->
          <div class="tab-pane fade turnip-tab-content" id="extension-turnip-extension-content-console" role="tabpanel" aria-labelledby="extension-turnip-extension-nav-console">
            ...
          </div>

          <!-- ==== Webhook Menu ==== -->
          <div class="tab-pane fade turnip-tab-content" id="extension-turnip-extension-content-webhook" role="tabpanel" aria-labelledby="extension-turnip-extension-nav-webhook">
            ...
          </div>

          <!-- ==== Setting Menu ==== -->
          <div class="tab-pane fade turnip-tab-content" id="extension-turnip-extension-content-setting" role="tabpanel" aria-labelledby="extension-turnip-extension-nav-setting">
            ...
          </div>

          <!-- ==== Account Menu ==== -->
          <div class="tab-pane fade turnip-tab-content" id="extension-turnip-extension-content-account" role="tabpanel" aria-labelledby="extension-turnip-extension-nav-account">
            ...
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
