<div class="" id="extension-turnip-extension-content-setting-section">
  <div class="card bg-warning" id="extension-turnip-extension-content-setting-section-01">

    <div class="card-header border-secondary">
      <div class="d-flex justify-content-between text-dark">
        <div class="text-truncate">
          <i class="fas fa-cog mr-2"></i>
          <b id="extension-turnip-extension-content-setting-section-01-title">Console</b>
        </div>
      </div>
    </div>

    <div class="card-body bg-dark" id="extension-turnip-extension-content-setting-section-01-body">
      <div class="turnip-form-container col-sm-12 col-md-10 col-lg-8">

        <div class="turnip-form-row align-items-end turnip-badge-header-group">
          <label class="turnip-label-badge badge-info font-size-inherit">General Setting</label>
          <div class="d-flex flex-column w-100 border-dash border-info turnip-badge-union p-3">
            <div>
              factory reset
            </div>
            <div>
              account reset
            </div>
          </div>
        </div>

        <div class="turnip-form-row align-items-end turnip-badge-header-group">
          <label class="turnip-label-badge badge-info font-size-inherit">Webhook Setting</label>
          <div class="d-flex flex-column w-100 border-dash border-info turnip-badge-union p-3">
            <div>
              clear webhook
            </div>
            <div>
              clear history
            </div>
            <div>
              set webhook limit
            </div>
          </div>
        </div>

        <div class="turnip-form-row align-items-end turnip-badge-header-group">
          <label class="turnip-label-badge badge-info font-size-inherit">Service</label>
          <div class="d-flex flex-column w-100 border-dash border-info turnip-badge-union p-3">
            <div>
              set webhook limit
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>