<div class="turnip-slide-container" id="extension-turnip-extension-content-webhook-section">
  <div class="turnip-slide-slide hide" id="extension-turnip-extension-content-webhook-slider">
    <div class="card bg-warning hide" id="extension-turnip-extension-content-webhook-slider-section-01">

      <div class="card-header border-secondary">
        <div class="d-flex justify-content-between text-dark">
          <div class="text-truncate">
            <i class="fas fa-chart-bar mr-2"></i>
            <b id="extension-turnip-extension-content-webhook-slider-section-01-title">History</b>
          </div>
          <div>
            <button class="btn btn-danger border-secondary mr-1" onclick="$('#extension-turnip-extension-content-webhook-slider').addClass('hide')" id="extension-turnip-extension-content-webhook-slider-section-01-back">
              <i class="fas fa-backspace mr-2"></i>
              <b>Back</b>
            </button>
            <button class="btn btn-info border-secondary mr-1" id="extension-turnip-extension-content-webhook-slider-section-01-reload">
              <i class="fas fa-sync-alt mr-2"></i>
              <b>Reload</b>
            </button>
            <button class="btn btn-danger border-secondary mr-1" id="extension-turnip-extension-content-webhook-slider-section-01-clear">
              <i class="fas fa-trash mr-2"></i>
              <b>Clear</b>
            </button>
          </div>
        </div>
      </div>

      <div class="card-body bg-dark" id="extension-turnip-extension-content-webhook-slider-section-01-body">

        <div class="hide" id="extension-turnip-extension-content-webhook-slider-section-01-template">
          <div class="card turnip-history-item" id="extension-turnip-extension-content-webhook-slider-section-01-history-item-{{index}}">
            <div class="hide" id="extension-turnip-extension-content-webhook-slider-section-01-history-item-{{index}}-meta">
            </div>
            <div class="card-header text-truncate">
              <span class="text-truncate" id="extension-turnip-extension-content-webhook-slider-section-01-history-item-{{index}}-timestamp-req">
                reqTimestamp
              </span>
              <span id="extension-turnip-extension-content-webhook-slider-section-01-history-item-{{index}}-timestamp-timediff">
                10ms
              </span>
            </div>
            <div class="card-body">
              <div class="turnip-history-item-req turnip-history-item-element">
                <div>req</div>
                <div class="text-truncate grow-1">
                  <span class="badge" id="extension-turnip-extension-content-webhook-slider-section-01-history-item-{{index}}-req-method">PUT</span>
                  &nbsp;
                  <span class="text-truncate" id="extension-turnip-extension-content-webhook-slider-section-01-history-item-{{index}}-req-url">http://test-url.org</span>
                </div>
                <button class="btn btn-primary" id="extension-turnip-extension-content-webhook-slider-section-01-history-item-{{index}}-req-show" data-toggle="modal" data-target="#extension-turnip-extension-content-webhook-slider-section-01-modal-req">
                  <span>
                    <i class="fas fa-external-link-alt mr-2"></i>
                  </span>
                  <span>show</span>
                </button>
              </div>
              <div class="turnip-history-item-res turnip-history-item-element">
                <div>res</div>
                <div class="text-truncate grow-1">
                  <span class="badge" id="extension-turnip-extension-content-webhook-slider-section-01-history-item-{{index}}-res-code">200</span>
                  &nbsp;
                  <span class="text-truncate" id="extension-turnip-extension-content-webhook-slider-section-01-history-item-{{index}}-res-body">{this is a body}</span>
                </div>
                <button class="btn btn-primary" id="extension-turnip-extension-content-webhook-slider-section-01-history-item-{{index}}-res-show" data-toggle="modal" data-target="#extension-turnip-extension-content-webhook-slider-section-01-modal-res">
                  <span>
                    <i class="fas fa-external-link-alt mr-2"></i>
                  </span>
                  <span>show</span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="hide turnip-history-container" id="extension-turnip-extension-content-webhook-slider-section-01-record">
          console
        </div>
        <!-- section-01-loading -->
        <div class="" id="extension-turnip-extension-content-webhook-slider-section-01-loading">
          <div class="d-flex flex-column justify-content-center">
            <br>
            <div class="text-light">
              <center>
                Please wait, this process will take a while.
              </center>
            </div>
            <br>
            <div class="progress">
              <div class="progress-bar progress-bar-black-striped bg-warning progress-bar-animated" style="width:100%">
              </div>
            </div>
          </div>
        </div>
      </div>

      

    </div>
    <div class="card bg-warning" id="extension-turnip-extension-content-webhook-slider-section-02">

      <div class="hide" id="extension-turnip-extension-content-webhook-slider-section-02-meta">
        <input type="text" id="extension-turnip-extension-content-webhook-slider-section-02-meta-mode">
        <input type="text" id="extension-turnip-extension-content-webhook-slider-section-02-meta-name">
      </div>

      <div class="card-header border-secondary">
        <div class="d-flex justify-content-between text-dark">
          <div class="text-truncate">
            <i class="fas fa-envelope mr-2"></i>
            <b id="extension-turnip-extension-content-webhook-slider-section-02-title">New Webhook</b>
          </div>
          <div>
            <button class="btn btn-danger border-secondary mr-1" onclick="$('#extension-turnip-extension-content-webhook-slider').addClass('hide')" id="extension-turnip-extension-content-webhook-slider-section-02-back">
              <i class="fas fa-backspace mr-2"></i>
              <b>Back</b>
            </button>
            <button class="btn btn-success border-secondary mr-1" id="extension-turnip-extension-content-webhook-slider-section-02-save">
              <i class="fas fa-save mr-2"></i><b>Save</b>
            </button>
          </div>
        </div>
      </div>
      
      <div class="card-body bg-dark">
        <div class="" id="extension-turnip-extension-content-webhook-slider-section-02-loading">
          <div class="d-flex flex-column justify-content-center">
            <br>
            <div class="text-light">
              <center>
                Please wait, this process will take a while.
              </center>
            </div>
            <br>
            <div class="progress">
              <div class="progress-bar progress-bar-black-striped bg-warning progress-bar-animated" style="width:100%">
              </div>
            </div>
          </div>
        </div>

        <div class="turnip-form-container col-sm-12 col-md-10 col-lg-8" id="extension-turnip-extension-content-webhook-slider-section-02-form">

          <input type="checkbox" class="hide" id="extension-turnip-extension-content-webhook-slider-section-02-form-enable" value="true">

          <div class="turnip-form-row align-items-end turnip-badge-header-group">
            <label class="turnip-label-badge badge-info font-size-inherit">General Information</label>
            <div class="d-flex flex-column w-100 border-dash border-info turnip-badge-union p-3">
              <div class="turnip-badge-header-group grow-1">
                <label class="turnip-label-badge badge-secondary badge-secondary">Webhook Name</label>
                <input class="turnip-badge-union border-secondary" id="extension-turnip-extension-content-webhook-slider-section-02-form-name" type="text">
              </div>
              <div class="turnip-badge-header-group grow-1">
                <label class="turnip-label-badge badge-secondary">Description</label>
                <textarea class="turnip-badge-union border-secondary no-resize" rows="4" id="extension-turnip-extension-content-webhook-slider-section-02-form-description"></textarea>
              </div>
            </div>
          </div>

          <div class="turnip-form-row align-items-end turnip-badge-header-group">
            <label class="turnip-label-badge badge-info font-size-inherit">Webhook Information</label>
            <div class="d-flex flex-column border-dash border-info turnip-badge-union p-3 w-100">

              <div class="turnip-form-row">
                <div class="turnip-badge-header-group">
                  <label class="turnip-label-badge badge-secondary">Method</label>
                  <select class="turnip-badge-union border-secondary" id="extension-turnip-extension-content-webhook-slider-section-02-form-method">
                    <option>GET</option>
                    <option>POST</option>
                    <option>PATCH</option>
                    <option>PUT</option>
                    <option>DELETE</option>
                    <option>HEAD</option>
                    <option>CONNECT</option>
                    <option>OPTIONS</option>
                    <option>TRACE</option>
                  </select>
                </div>
                &nbsp;
                <div class="turnip-badge-header-group grow-1">
                  <label class="turnip-label-badge badge-secondary">URL</label>
                  <input class="turnip-badge-union border-secondary" type="text" id="extension-turnip-extension-content-webhook-slider-section-02-form-url">
                </div>
              </div>

              <div class="turnip-badge-header-group">
                <div class="d-flex flex-row align-items-center text-truncate">
                  <input type="checkbox" id="extension-turnip-extension-content-webhook-slider-section-02-form-unverify">
                  <div class="text-truncate pl-2">Skip certificate verification!</div>
                </div>
              </div>
              <div class="turnip-badge-header-group">
                <label class="turnip-label-badge badge-secondary">Headers</label>
                <div class="turnip-form-row flex-column border-dash border-secondary turnip-badge-union p-3">
                  <div class="turnip-form-row flex-column mb-3" id="extension-turnip-extension-content-webhook-slider-section-02-form-headers"></div>
                  <div class="turnip-form-row align-items-end">
                    <div class="turnip-badge-header-group">
                      <label class="turnip-label-badge badge-secondary">Key</label>
                      <input class="turnip-badge-union border-secondary" type="text" id="extension-turnip-extension-content-webhook-slider-section-02-form-header-key">
                    </div>
                    <div class="turnip-badge-header-group grow-1">
                      <label class="turnip-label-badge badge-secondary">Value</label>
                      <input class="turnip-badge-union border-secondary" type="text" id="extension-turnip-extension-content-webhook-slider-section-02-form-header-value">
                    </div>
                    <button class="btn btn-primary" id="extension-turnip-extension-content-webhook-slider-section-02-form-header-button-add">Add</button>
                  </div>
                </div>
              </div>

              <div class="turnip-badge-header-group grow-1">
                <label class="turnip-label-badge badge-secondary">Payload</label>
                <div class="turnip-badge-union border-secondary">
                  <div style="height: 250px;" id="extension-turnip-extension-content-webhook-slider-section-02-form-payload"></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
  <div class="turnip-slide-base" id="extension-turnip-extension-content-webhook-base">
    <div class="turnip-webhook-container" id="extension-turnip-extension-content-webhook-base-container">
    </div>

    <div class="turnip-webhook-container hide" id="extension-turnip-extension-content-webhook-base-template">

      <div id="extension-turnip-extension-content-webhook-base-template-item" class="w-100">
        <div class="card turnip-webhook-item" id="extension-turnip-extension-content-webhook-base-container-item-{{name}}">
          <div class="card-header bg-dark d-flex justify-content-between">
            <div class="text-truncate" id="extension-turnip-extension-content-webhook-base-container-item-{{name}}-name">very longgggggggggggggggg title</div>
            <div class="turnip-card-header-btn-box">
              <button class="btn btn-info" id="extension-turnip-extension-content-webhook-base-container-item-{{name}}-button-history">
                <i class="fas fa-chart-bar fa-lg"></i>
              </button>
              <button class="btn btn-warning" id="extension-turnip-extension-content-webhook-base-container-item-{{name}}-button-edit">
                <i class="fas fa-edit fa-lg"></i>
              </button>
              <button class="btn btn-danger" id="extension-turnip-extension-content-webhook-base-container-item-{{name}}-button-remove">
                <i class="fas fa-trash fa-lg"></i>
              </button>
            </div>
          </div>
          <div class="card-body bg-secondary">
            <div class="card-title text-truncate">
              <span class="badge" id="extension-turnip-extension-content-webhook-base-container-item-{{name}}-method">
                POST
              </span>
              <span id="extension-turnip-extension-content-webhook-base-container-item-{{name}}-url">
                Special title treatment
              </span>
            </div>
            <p class="card-text" id="extension-turnip-extension-content-webhook-base-container-item-{{name}}-description">With supporting text below as a natural lead-in to additional content.</p>
          </div>
        </div>
      </div>

      <div id="extension-turnip-extension-content-webhook-base-template-adder" class="w-100">
        <div class="card turnip-webhook-item turnip-webhook-item-adder bg-secondary" id="extension-turnip-extension-content-webhook-base-container-adder-{{template}}">
          <div class="card-body" onclick="$('#extension-turnip-extension-content-webhook-slider-section-02').removeClass('hide')">
            <div class="d-flex flex-column justify-content-center align-items-center w-100 h-100">
              <i class="fas fa-plus fa-4x"></i>
              <span>Create new webhook</span>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="modal fade turnip-modal" id="extension-turnip-extension-content-webhook-slider-section-01-modal" tabindex="-1" role="dialog" aria-labelledby="extension-turnip-extension-content-webhook-slider-section-01-modal-req-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="extension-turnip-extension-content-webhook-slider-section-01-modal-label">Transaction</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="extension-turnip-extension-content-webhook-slider-section-01-modal-body">
          <div class="turnip-badge-header-group grow-1" id="extension-turnip-extension-content-webhook-slider-section-01-modal-timestamp-group">
            <label class="turnip-label-badge badge-secondary badge-secondary">Timestamp</label>
            <input class="turnip-badge-union border-secondary" id="extension-turnip-extension-content-webhook-slider-section-01-modal-timestamp" type="text">
          </div>

          <div class="turnip-badge-header-group grow-1" id="extension-turnip-extension-content-webhook-slider-section-01-modal-url-group">
            <label class="turnip-label-badge badge-secondary badge-secondary" id="extension-turnip-extension-content-webhook-slider-section-01-modal-method">Method</label>
            <input class="turnip-badge-union border-secondary" id="extension-turnip-extension-content-webhook-slider-section-01-modal-url" type="text">
          </div>

          <div class="turnip-badge-header-group grow-1" id="extension-turnip-extension-content-webhook-slider-section-01-modal-code-group">
            <label class="turnip-label-badge badge-secondary badge-secondary">Code</label>
            <input class="turnip-badge-union border-secondary" id="extension-turnip-extension-content-webhook-slider-section-01-modal-code" type="text">
          </div>

          <div class="turnip-badge-header-group" id="extension-turnip-extension-content-webhook-slider-section-01-modal-headers-group">
            <label class="turnip-label-badge badge-secondary">Headers</label>
            <div class="turnip-form-row flex-column border-dash border-secondary turnip-badge-union p-3">
              <div class="turnip-form-row flex-column" id="extension-turnip-extension-content-webhook-slider-section-01-modal-headers"></div>
            </div>
          </div>

          <div class="turnip-badge-header-group grow-1" id="extension-turnip-extension-content-webhook-slider-section-01-modal-payload-group">
            <label class="turnip-label-badge badge-secondary">Payload</label>
            <div class="turnip-badge-union border-secondary">
              <div style="height: 250px;" id="extension-turnip-extension-content-webhook-slider-section-01-modal-payload"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</div>